.title {
    margin: 15px 0;
}

.title span {
    font-size: 24px;
    font-weight: bold;
}

.btn_exit {
    float: right;
    margin-top: 15px;
    margin-left: 15px;
}

.jury_diriment {
    background: #000 none repeat scroll 0 0;
    border-radius: 15px;
    font-weight: bold;
    left: 30px;
    position: absolute;
    width: 106px;
}

.row_sorteable {

}

.row_sorteable ul {
    list-style: outside none none;
    min-height: 45px;
    padding: 0 0 200px 0;
    width: 100%;
}

.row_sorteable li {
    margin-top: 0px;
    margin-bottom: 10px;
}

.row_sorteable ul li.placeholder {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    background-color: #b9daff;
}

.btn_competitor {
    margin-bottom: 10px;
}

.comp_position {
    background: #000 none repeat scroll 0 0;
    border-radius: 15px;
    float: left;
    font-weight: bold;
    width: 30px;
}