table .center {
    text-align: center;
}

table tr td,
table tr th {
    vertical-align: middle !important;
}

form.formuppertext input {
    text-transform: uppercase;
}

#text_searched {
    width: 30%;
    text-transform: uppercase;
}

.title {
    margin: 15px 0;
}

.title span {
    font-size: 24px;
    font-weight: bold;
}

.btn_exit {
    margin-left: 15px;
    margin-top: 15px;
    position: absolute;
    right: 15px;
}

.btn_home {
    right: 106px;
}

.btn_refresh {
    right: 153px;
}

.btn_results {
    right: 153px;
}

.btn {
    text-transform: uppercase;
}

.jury_diriment {
    background: #000 none repeat scroll 0 0;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    left: 30px;
    position: absolute;
    width: 106px;
}

.row_sorteable {

}

.row_sorteable ul {
    list-style: outside none none;
    min-height: 45px;
    padding: 0 0 200px 0;
    width: 100%;
}

.row_sorteable li {
    margin-top: 0px;
    margin-bottom: 10px;
}

.row_sorteable ul li.placeholder {
    width: 100%;
    height: 45px;
    border-radius: 6px;
    background-color: #b9daff;
}

.btn_competitor {
    margin-bottom: 10px;
}

.btn_competitor div {
    display: inline-block;
    width: 50%;
}

.btn_competitor .path_left {
    padding-right: 15px;
    text-align: right;
}

.btn_competitor .path_right {
    padding-left: 15px;
    text-align: left;
}

.comp_position {
    background: #000 none repeat scroll 0 0;
    border-radius: 15px;
    font-weight: bold;
    left: 26px;
    position: absolute;
    width: 30px;
}

.btn_dashboard {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    width: 200px;
}

.count_selected {
    background-color: #000;
    border-radius: 35px;
    bottom: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    position: fixed;
    right: 10px;
    text-align: center;
    width: 70px;
}

.count_class {
    font-weight: bold;
}

.label_category {
    display: none;
}

.block_label {
    display: block;
}

.btn_categories {
    text-align: left;
}

.btn_categories b {
    float: right;
    margin-top: -12px;
}

.btn_categories + ul {
    width: 100%;
}

.btn_categories + ul input.multiselect-search {
    text-transform: uppercase;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

.contextual_message {
    padding: 3px 10px;
}

.suggest {
    margin-bottom: 20px;
    margin-left: calc(50% - 100px);
    width: 200px;
}

.btn_plus_ingroup {
    float: left;
    margin-left: 6px;
    margin-top: 5px;
    position: absolute;
}

.loading span {
    font-size: 20px;
}

.loading img {
    margin-left: 95px;
    width: 100px;
}

.result-final {
    background: #3f6e09;
    color: #FFFFFF;
    font-weight: bold;
}

#space_verify ul {
    padding-bottom: 0px;
}

#modal_change_category .modal-body a {
    display: block;
    margin-bottom: 10px;
}